/* Form Container Styles */
.review-form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1200px;
  margin: 10px auto;
  box-sizing: border-box;
}
.button {
  background-color: #c58255;
  color: #001111;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.section-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -10px;
}

.top-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.form-section,
.submitted-details {
  flex: 1;
  background: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 664px;
  box-sizing: border-box;
}

.review-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.review-form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.submit-button {
  background-color: #d9b08c;
  color: black;
  border: none;
  padding: 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: auto;
}

.submit-button:hover {
  background-color: #d9b08c;
}

.generate-feedback-button {
  background-color: #2c3531;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: auto;
  display: block;
  margin: auto;
}

.generate-feedback-button:hover {
  background-color: #116466;
}

.feedback-section {
  background: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-height: 150px;
  width: 100%;
  margin: 0 auto;
  overflow-y: auto;
  box-sizing: border-box;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .review-form-container {
    padding: 10px 10px;
  }

  .top-section {
    flex-direction: column;
    align-items: stretch;
    gap: 15px;
  }

  .form-section,
  .submitted-details,
  .feedback-section {
    width: 100%;
    margin-bottom: 20px;
    padding: 25px;
  }

  .submit-button,
  .generate-feedback-button {
    font-size: 14px;
    padding: 12px;
  }

  .generate-feedback-button {
    width: 90%;
    margin: 20px auto 0;
  }

  .button {
    margin-left: 80%;
  }

  .submitted-details {
    min-height: 200px;
  }

  .section-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin-bottom: 0;
  }

  .button {
    padding: 8px 16px;
    font-size: 14px;
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .top-section {
    align-items: flex-start;
  }
}

/* Review Table Styles */

.review-table-container {
  padding: 20px;
  overflow-x: auto;
}

.table-container {
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}

table {
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #116466;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

@media (max-width: 768px) {
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
  }

  thead {
    display: none;
  }

  tr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
    border-bottom: 2px solid #116466;
    width: 100%;
    background-color: #f9f9f9;
    padding: 10px;
  }

  td {
    display: flex;
    text-align: left;
    position: relative;
    padding: 10px;
    border: none;
    background-color: #fff;
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
  }

  td::before {
    content: attr(data-label) ": ";
    font-weight: bold;
    background-color: #f9f9f9;
    display: block;
    margin-bottom: 5px;
    color: #333;
  }

  .table-container td {
    padding-left: 5%;
    gap: 19px;
  }

  .table-container td::before {
    padding-left: 10px;
  }
}

/* Icons for Actions */
.action-icon {
  cursor: pointer;
  margin-right: 15px;
}

.edit-icon {
  color: #d9b08c;
}

.delete-icon {
  color: #ffcb9a;
}

.download-icon {
  color: #2c3531;
}

.generate-icon {
  color: black;
}

.history-icon {
  color: #116466;
}

/*------------------------------------- Popup Styles -------------------------------------------*/
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
  max-height: 770px;
  overflow: auto;
}

.popUp-review-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.popUp-form-section {
  flex: 1;
  background: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 400px;
  box-sizing: border-box;
}

.popup-content h2 {
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form-group label {
  flex: 1;
  margin-right: 10px;
  font-weight: bold;
}

.form-group input {
  flex: 2;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
}

.submit-button,
.cancel-button {
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.submit-button {
  background-color: #2c3531;
  color: #fff;
}

.cancel-button {
  background-color: #d9b08c;
  color: #333;
  margin-left: 10px;
}

.cancel-button:hover {
  background-color: #116466;
}
